<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.training.ch.domain.User"/>
        <typeAlias alias="BoardDto" type="com.training.ch.domain.BoardDto"/>
        <typeAlias alias="ReserveDto" type="com.training.ch.domain.ReserveDto"/>
        <typeAlias alias="SearchCondition" type="com.training.ch.domain.SearchCondition"/>
        <typeAlias alias="CommentDto" type="com.training.ch.domain.CommentDto"/>
    </typeAliases>
</configuration>