<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.ch.dao.equipMapper">

    <sql id="selectAll">
        SELECT ENO, ENAME, ECATEGORY, EMAINIMG, ESUBIMG, ESTATE
          FROM EQUIPMENT
    </sql>

    <select id="selectEquipCategory"  parameterType="map" resultType="EquipmentDto">
        <include refid="selectAll"/>
        WHERE ECATEGORY = #{eCategory}
        ORDER BY ENO ASC
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="select" parameterType="int" resultType="EquipmentDto">
        <include refid="selectAll" />
        WHERE ENO = #{eno}
    </select>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="EquipmentDto">
        SELECT ENO, ENAME, ECATEGORY, EMAINIMG, ESUBIMG, ESTATE
        FROM  EQUIPMENT
        ORDER BY ENO ASC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getResultCnt" resultType="int">
        SELECT count(*)
        FROM  EQUIPMENT
        WHERE ECATEGORY = #{eCategory}
    </select>

    <select id="getSearchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT COUNT(*)
        FROM EQUIPMENT
        WHERE TRUE
        AND ENAME LIKE concat('%', #{keyword}, '%')
    </select>

    <select id="getSearchResultPage" parameterType="SearchCondition" resultType="EquipmentDto">
        <include refid="selectAll"/>
        WHERE TRUE
        AND ENAME LIKE concat('%', #{keyword}, '%')
        ORDER BY ENO ASC
        LIMIT #{offset}, #{pageSize}
    </select>


</mapper>