<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.ch.dao.reserveMapper">

    <sql id="selectAll">
        SELECT RNO, ID, TYPE, START_TIME, END_TIME, USE_CNT, RESERVE_STATE
          FROM RESERVE_INFO
    </sql>

    <sql id="count">
        SELECT COUNT(*) FROM RESERVE_INFO
    </sql>

    <!-- 유저 예약내역 전체 삭제    -->
    <delete id="deleteAll">
        DELETE FROM RESERVE_INFO
    </delete>

    <!-- 유저 최근 예약정보 조회   -->
    <select id="selectReserve" resultType="ReserveDto">
        <include refid="selectAll"/>
        WHERE ID = #{id}
        ORDER BY RNO DESC
        LIMIT 1
    </select>

    <!-- 유저당 예약내역 전체 조회-->
    <select id="selectReserveIdAll" resultType="ReserveDto">
        <include refid="selectAll"/>
        WHERE ID = #{id}
        ORDER BY RNO DESC
    </select>

    <!-- 유저당 현재 예약내역 전체 조회-->
    <select id="selectCurrentReserve" resultType="ReserveDto">
        <include refid="selectAll"/>
        WHERE ID = #{id}
        AND RESERVE_STATE = 0
        ORDER BY RNO DESC
    </select>


    <!-- 유저당 취소 예약내역 전체 조회-->
    <select id="selectCanceledReserve" resultType="ReserveDto">
        <include refid="selectAll"/>
        WHERE ID = #{id}
        AND RESERVE_STATE = 1
        ORDER BY RNO DESC
    </select>


    <!-- 유저당 사용완료 내역 전체 조회-->
    <select id="selectCompletedReserve" resultType="ReserveDto">
        <include refid="selectAll"/>
        WHERE ID = #{id}
        AND RESERVE_STATE = 2
        ORDER BY RNO DESC
    </select>


    <!-- 전체 예약 정보 조회-->
    <select id="selectReserveAll" resultType="ReserveDto">
        <include refid="selectAll"/>
        ORDER BY RNO DESC
    </select>

    <!-- 사용 완료 -->
    <update id="completeUse" parameterType="map">
        UPDATE RESERVE_INFO
        SET    RESERVE_STATE = 2
        WHERE  RNO = #{rno}
        AND    TYPE = #{type}
    </update>


    <!-- 예약 취소 -->
    <update id="cancelUseCnt" parameterType="map">
        UPDATE RESERVE_INFO
        SET    USE_CNT = USE_CNT - 1, RESERVE_STATE = 1
        WHERE  RNO = #{rno}
        and TYPE = #{type}
    </update>

    <!-- 예약조건 조회  -->
    <select id="isAlreadyReserved" parameterType="ReserveDto" resultType="int">
        SELECT COUNT(*)
        FROM RESERVE_INFO
        WHERE TYPE = #{type}
        AND <![CDATA[start_time < #{end_time} AND end_time > #{start_time}]]>
        AND RESERVE_STATE = 0
    </select>

    <select id="otherReserved" parameterType="ReserveDto" resultType="int">
        SELECT COUNT(*)
        FROM RESERVE_INFO
        WHERE ID = #{id}
          AND <![CDATA[start_time < #{end_time} AND end_time > #{start_time}]]>
    </select>

     <!-- 유저 정보 입력 -->
    <insert id="insertReserve">
        INSERT INTO RESERVE_INFO(RNO, ID, TYPE, START_TIME, END_TIME, USE_CNT, RESERVE_STATE)
        VALUES((SELECT rno
                FROM (SELECT IFNULL(MAX(rno), 0) + 1 AS rno
                      FROM RESERVE_INFO) as A),
               #{id}, #{type}, #{start_time}, #{end_time},
               (SELECT use_cnt
                FROM (SELECT IF(COUNT(*) >=1, MAX(use_cnt) +1, 1) AS use_cnt
                      FROM RESERVE_INFO
                      WHERE type= #{type}
                        AND ID = #{id}) as B),
               #{reserve_state})
    </insert>

    <!-- 예약조건 조회  -->
    <select id="canceledReserve" parameterType="ReserveDto" resultType="int">
        SELECT COUNT(*)
        FROM RESERVE_INFO
        WHERE TYPE = #{type}
        AND <![CDATA[start_time < #{end_time} AND end_time > #{start_time}]]>
        AND RESERVE_STATE = 1
    </select>

    <!-- 현재 예약 내역수 조회  -->
    <select id="countReserve" resultType="int">
        <include refid="count" />
        WHERE ID = #{id}
        AND RESERVE_STATE = 0
    </select>

    <!-- 예약 취소수 조회  -->
    <select id="countCanceledReserve" resultType="int">
        <include refid="count" />
        WHERE ID = #{id}
        AND RESERVE_STATE = 1
    </select>

    <!-- 사용완료 내역수 조회  -->
    <select id="countCompletedReserve" resultType="int">
        <include refid="count" />
        WHERE ID = #{id}
        AND RESERVE_STATE = 2
    </select>

    <!-- 총예약수 조회  -->
    <select id="countReservation" resultType="int">
        <include refid="count" />
        WHERE ID = #{id}
    </select>




</mapper>